@{
    ViewBag.Title = "DISEÑO CURRICULAR DE LA TECNICATURA SUPERIOR EN ANÁLISIS DE SISTEMAS - PRIMER AÑO";
    ////ViewBag.MessageI = "INGLES 1";
    ////ViewBag.MessageC = "CIENCIA, TECNOLOGIA y SOCIEDAD ";
    ////ViewBag.MessageM = "ANALISIS MATEMATICO 1 ";
    ////ViewBag.MessageA = "ALGEBRA ";
    ////ViewBag.MessageALG = "ALGORITMOS Y ESTRUCTURAS DE DATOS 1 ";
    ////ViewBag.MessageS = "SISTEMAS Y ORGANIZACIONES ";
    ////ViewBag.MessageAR = "ARQUITECTURA DE COMPUTADORAS ";
    ////ViewBag.MessageP = "PRACTICAS PROFESIONALIZANTES 1 ";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.MessageI</h3>*@
<p>
    @Html.ActionLink("Volver Al Menu Alumnos", "Index", "MenuALUM")
</p>

<address>
    <strong>INGLES 1</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Ingles 1<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Examen Final<br />
</address>
<br />

<address>
    <strong>CIENCIA, TECNOLOGIA y SOCIEDAD</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Ciencia, Tecnología y Sociedad<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Promoción con 7 o más. Examen final con 4 o más<br />
</address>
<br />

<address>
    <strong>ANALISIS MATEMATICO 1</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Análisis Matemático 1<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Promoción con 7 o más. Examen final con 4 o más<br />
</address>
<br />

<address>
    <strong>ALGEBRA</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Álgebra<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Promoción con 7 o más. Examen final con 4 o más<br />
</address>
<br />

<address>
    <strong>ALGORITMOS Y ESTRUCTURAS DE DATOS 1</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Algoritmos y Estructuras de Datos 1<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		128 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Examen final.<br />
</address>
<br />

<address>
    <strong>SISTEMAS Y ORGANIZACIONES</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Sistemas y Organizaciones<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Examen final.<br />
</address>
<br />

<address>
    <strong>ARQUITECTURA DE COMPUTADORAS</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Arquitectura de Computadores<br />
    OPCIÓN LIBRE : 		    	SI<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Examen final.<br />
</address>
<br />

<address>
    <strong>PRACTICAS PROFESIONALIZANTES 1</strong>
</address>
<address>
    UNIDAD CURRICULAR : 		Prácticas Profesionalizantes 1<br />
    OPCIÓN LIBRE : 		    	NO<br />
    CARGA HORARIA ANUAL :		64 Hs.<br />
    RÉGIMEN DE ACREDITACIÓN :	Examen final.<br />
</address>
<br />





@*<p>Use this area to provide additional information.</p>*@
