
@{
    ViewBag.Title = "Bienvenido Administrador";
}

<h2>Bienvenido Administrador</h2>

<li><a href="/User_Administrator/Index">Administradores</a></li>
<li><a href="/Teachers/Index">Profesores</a></li>
<li><a href="/Subjectts/Index">Materias</a></li>
<li><a href="/User_Students/Index">Alumnos</a></li>
<li><a href="/SubjStudents/Index">Alumnos Anotados a las Materias</a></li>
