
@{
    ViewBag.Title = "Bienvenidos Alumnos";
}

<h2>Bienvenidos Alumnos</h2>
<li>@Html.ActionLink("Descripcion de Materias", "About", "Home")</li>
<li>@Html.ActionLink("Anotarse a las Materias", "Index", "SubjStudents")</li>


